<template>
	<view class="content">
		<input v-model="msg" focus ref='myInput' @keydown.enter='onsend'>
		<ul>
			<li v-for="item in list">
				{{item.msg}}
				<button @click="addProp(item)">添加state和date属性</button>
				<button @click="delItem(item)">del</button>
			</li>
		</ul>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				msg: '',
				list: []
			}
		},
		onLoad() {
			this.getLIst()
		},
		methods: {
			//获取数据

			getLIst() {
				uniCloud.callFunction({
					name: 'index',
					data: {
						msg: '123'
					}
				}).then(({
					result
				}) => {
					this.list = result.data
				})
			}

			// 删除
			delItem(data) {

				uniCloud.callFunction({
					name: 'del',
					data: {
						id: data._id
					}
				}).then(res => {
					console.log(res);
				})
			},
			// 更新
			addProp(data) {
				// 使用id去更新数据库的指定数据
				uniCloud.callFunction({
					name: "update",
					data: {
						id: data._id,
						state: false,
						date: Date.now()
					}
				}).then(res => {
					console.log(res);
				})
			},
			// 添加
			onsend(event) {
				uni.showLoading({
					mask: true,
					title: '正在添加！'
				})
				console.log(this.msg)
				if (!this.msg) {
					return uni.showToast({
						title: '不能为空',
						icon: 'error'
					})
				}
				uniCloud.callFunction({
					name: "create",
					data: {
						msg: this.msg,
						date: +new Date(),
						state: false
					}
				}).then(res => {
					if (res.result.id) {
						uni.showToast({
							title: "添加成功"
						})
					}
					uni.hideLoading()
					this.msg = '';
					// 让元素再次获取焦点
					this.$refs.myInput._focus()
					this.getLIst()
				})
			}
		},
		mounted() {

		}
	}
</script>

<style>

</style>
